.tomatoOne {
    background-image: url(../images/tomatoOne/tomatoOneBg.svg);
    background-color: #f7f7f7;
    padding-top: 18px;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    background-color: #fff;
}


.goBack a {
    font-size: 14px;
    color: #57984C;
    
}

.goBack {
    margin-bottom: 18px;
}

.goBack img {
    margin-right: 10px;
}

.tomatoOne {
    padding-bottom: 170px;
}

.tomatoOne .title__text h1, h2{
    font-size: 54px;
}

.tomatoOne .title__text h2{
    color: #57984C;
}

.qulity {
    padding-top: 45px;
}

.crosses {
    padding-bottom: 30px;
}

.quality {
    margin-left: -30px;
}

.quality__text {
    color: #CF2333;
    font-size: 30px; 
}

.tomatoImage {
    margin-top: 10px;
}

.tomatoImage img {
    width: 100%;
}

.textBlock {
    font-size: 20px;
}

.textBlock_item {
    margin-top: 50px;
}

.textBlock_item h3 {
    font-size: 20px;
    color: #57984C;
}

.textBlock_item hr {
    background-color: #57984C;
    
}

.textBlock_item b {
    font-size: 20px;
}

.textBlock_item ul {
    padding: 20px;
    padding-top: 0;
}

.textBlock_item li {
    list-style-type:disc;
    color: #57984C;
}

.textBlock_item span {
    color: #324950;
}

.download {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
}

.download button {
    background-color: transparent;
    padding: 8px 30px;
    border: 2px solid #57984C;
    box-sizing: border-box;
    border-radius: 60px;
}

.download button img {
    height: 20px;
}

.download button:hover {
    background-color: rgb(87, 152, 76, 0.1);
}

.download span {
    padding-left: 10px;
    color: #57984C;
}

@media (max-width: 991px){
    .quality {
        text-align: center;
    }
    .tomatoImage img {
        width: 100%;
    }

}
@media (max-width: 767px){
    .quality__text {
        font-size: 25px;
    }
    .tomatoOne .title__text h1, h2{
        font-size: 40px;
    }
    .textBlock_item {
        margin-left: 20px;
    }
    .search {
        margin-bottom: 20px;
    }
}